<!DOCTYPE html>
<html>
    <head>
<!--        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"/>-->
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <title>Basket App</title>
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>-->
        <script src="controllers/basketCtrl.js"></script>
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-material/angular-material.js"></script>
    </head>
    <body>
        <div ng-app="basketApp" ng-controller="basketController as basketCtrl" class="container">

            <div class="box header">
                <div>Basket App</div>
            </div>

            <div class="box body">
                <div class="alert">
                    <p ng-if="basketCtrl.itemExists">Item already in the list</p>
                </div>
                <div class="complete" layout="row" layout-align="space-between center">
<!--                    class="capitalize main-autocomplete"-->
<!--                    style="min-width: 350px; margin: 8px 16px 8px 0;"-->
                    <div layout="row" layout-align="start center" flex-gt-xs class="margin08">
                    <md-autocomplete md-items="item in basketCtrl.itemList"
                                     md-input-id="item-autocomplete" md-selected-item="self.selectedItem"
                                     md-search-text="basketCtrl.searchText" md-item-text="item.name"
                                     md-selected-item-change="basketCtrl.addItem()"
                                     placeholder="Add items to the order"
                                     md-min-length="0" md-autofocus="true" md-autoselect="true">
                        <md-item-template>
                          <span  md-highlight-text="basketCtrl.searchText">
                              {{item.name}}
                          </span>
<!--                            class="autoCompleteSearch capitalize"-->
                        </md-item-template>
                    </md-autocomplete>
                    </div>
                </div>

<!--                <md-input-container class="input-quantity margin8px0 no-md-error">-->
<!--                    <input type="text" ng-model="basketCtrl.newItem" placeholder="Add an Item"/>-->
<!--                </md-input-container>-->
<!--                <md-button class="button-full" ng-click="basketCtrl.addItem()" type="submit">Save</md-button>-->
            </div>
    <!--        <h3>Calculator:</h3>-->
    <!--        <p>Variable 1: <input ng-model = "variable1"> </p>-->
    <!--        <p>Variable 2: <input ng-model = "variable2"> </p>-->

    <!--        <button ng-click = "setOperatorSum()">+</button>-->
    <!--        <button ng-click = "setOperatorMinus()">-</button>-->

    <!--        <p style="color:blue">{{variable1}} {{ operator }} {{variable2}}</p>-->

    <!--        <button ng-click = "calculate()"> = </button>-->
    <!--        <p>Result: <b style="color:red">{{ result }}<b></p>-->
        </div>
    </body>
</html>
