<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <title>Basket App</title>
    </head>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="controllers/basketCtrl.js"></script>
    <body>
        <div ng-app="basketApp" ng-controller="basketController as basketCtrl" class="container">

            <div class="header">
                <div>Basket App</div>
            </div>

            <div class="box" ng-if="!basketCtrl.orderComplete">
                <div ng-include="'partials/basket-body.html'"></div>
            </div>

            <div class="box" ng-if="basketCtrl.orderComplete">
                <div ng-include="'partials/order-details.html'"></div>
            </div>

        </div>
    </body>
</html>
