.container {
    padding-left: 18%;
    padding-right: 22%;
    padding-top: 5%;
    height: 80%
}

.alert {
    color: #ff0000;
    font-size: 16px;
    min-height: 3%;
    text-align: left;
}

.header {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 25px 25px 0 0;
    height: 8%;
    width: 100%;
    font-size: 26px;
    color: #000000;
    background: #a9a9a9;
    border: solid #000000;
    border-bottom: none;
}

.box {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    width: 100%;
    min-height: 70%;
    border: solid #000000;
    background: #ffffff;
}

.footer {
    margin-top: 5%;
}

.md-button {
    min-width: 44px;
    max-height: 44px !important;
}

.center {
    margin-left: 10% !important;
}

.bold {
    font-weight: 800;
}